.todo-input {
    padding: 12px;
    width: 420px;
    margin-right: 8px;
}

.add-todo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-button {
    padding: 12px;
    cursor: pointer;
}